---
layout: default
---

<div id="navigation" class="open-sans span-24">
  <div class="span-7 colborder">
    <a class="large loud current" title="Portfolio" href="/">portfolio</a>
  </div>
  <div class="span-8 colborder">
    <a class="large loud" title="Services" href="/services">services</a>
  </div>
  <div class="span-7 last">
    <a class="large loud" title="Contact" href="/contact">contact</a>
  </div>
</div>
<hr class="space" />
<hr />

{% for post in paginator.posts %}
<div class="post span-24 center">
  <div class="span-7 append-1">
    <em class="large">{{ post.date | date_to_long_string }}</em>
  </div>

  <div class="span-8 append-1">
    <h2><a class="loud" href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>
      {{ post.content | strip_html | truncatewords: 25 }}
    </p>
  </div>

  <div class="span-5 prepend-1 append-1 last">
    <a href="{{ post.url }}"><img width="180" alt="{{ post.title }}" class="top left item" src="{{ post.thumbnail }}"></a>
    <hr class="space" />
  </div>
</div>
  <hr />
{% endfor %}

{% if paginator.previous_page %}
  <div class="post-meta span-6 append-1">
    {% if paginator.previous_page == 1 %}
      <a href="/">Newer &rarr;</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}">Newer &rarr;</a>
    {% endif %}
  </div>

<hr class="space" />
{% endif %}

{% if paginator.next_page %}
  <div class="post-meta span-6 append-1">
    <a href="/page{{ paginator.next_page }}">&larr; Older</a>
  </div>
{% endif %}

