#header h1 a{text-decoration:none;font-family:'Sorts Mill Goudy',serif}
#navigation{text-align:center;}
.open-sans{font-family:'Open Sans',sans-serif;}
#navigation ul{text-align:right;}
#navigation a{text-decoration:none;}
a:focus, a:hover{color:#222;}
.right{text-align:right;}
#header .hover{color:#c14331;}
#navigation .hover{color:#c14331;}
.center{text-align:center;}
ul.no-disc{list-style-type:none;}
.item{padding:5px;border:1px solid #ddd;}
.item{padding:5px;border:1px solid #ddd;}
.border-hover {border: 1px solid #222;}
.current{color:#c14331;}
a.current:hover, a.current:focus {color:#c14331;}
